langchain
langchain-ollama
langgraph==0.4.7
python-dotenv
ipython
langchain-community
langchainhub
sqlalchemy
alembic
psycopg2-binary
pydantic
fastapi
uvicorn[standard]
pydantic[email]
passlib
python-jose[cryptography]
python-multipart
psycopg
psycopg-pool
pgvector
transformers
pyppeteer
nest_asyncio
asyncpg
langchain-openai
fastapi-csrf-protect
bcrypt
httpx
itsdangerous
starlette
jinja2  
redis
langgraph-checkpoint-postgres
psycopg[binary,pool]